.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.User-picture{
  width: 24vh;
  height: 24vh;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 2vh;
  margin-bottom: 3vh;
  border-radius: 24vh;
}
.Library-picture{
  position: fixed;
  height: 100vh;
  float: left;
  left: 0;
  z-index: 0;
}
#inspire{
  text-align:left;
  font-size: 64px;
  margin-top:5vh;
  margin-left:5vh;
  position: fixed;
  z-index: 100;
  color:white;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
#disclaimer{
  text-align:left;
  font-size: 16px;
  margin-top:95vh;
  margin-bottom: 0px;
  margin-left:5vh;
  position: fixed;
  z-index: 100;
  color:white;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.Header {
  font-size: 64px;
  line-height: 83px;
  color: #424242;
}
.app-form-group{
  width: 50vh;
  max-height: 18vh;
}
.app-form-group .app-form-control{
  padding: 2vh;
  border:none;
}
figure{  
  width:100%;
  overflow: hidden;
  margin:0;  
}

figure img{
  margin:-45% 0;
}
figure img.book-image{
  margin:-30% 0;
}

figure img.carousel-book-image{    
  margin-bottom: -75%;
  margin-top: 0%;
}
.book-carousel-caption{
  background: black;
  opacity: 0.6;
  margin-left: -15%;
  width: 100%;
}
.book-detail-image{
  width: 100vw;
  height: 45vh;
  overflow: hidden;
}
.book-detail-image .cover-img{
  width: 100vw;
  position: relative;
  margin:-75% -55%;
  overflow: hidden;
}
.book-img{
  position: absolute;
  margin-top: 20vh;
  right: 5vw;
  width: 15vw;
  -webkit-box-shadow: 9px 11px 5px 0px rgba(0,0,0,0.32);
  -moz-box-shadow: 9px 11px 5px 0px rgba(0,0,0,0.32);
  box-shadow: 9px 11px 5px 0px rgba(0,0,0,0.32);
  border-radius: 1rem;
}
.book-detail-data{
  text-align: left;
  padding: 3vw;
  width:70vw;
}
.book-detail-data .genre-button{
  border-radius: 2rem;
}
.book-detail-data .availability-button{
  float: right;
}
.borrow-button{
  position: absolute;
  right: 8vw;
  bottom: 10vh;
}
.book-detail-data .book-title{
  font-size: 3vw;
}
.book-detail-data .book-description{
  margin-top: 2vh; 
  font-size: 1.5vw;
}
.book-detail-data .book-date-released{
  font-size: 2vw;
  padding: 0.25vw;
}
.book-detail-data .book-availability{
  border-radius: 2rem;
}
.back-button{
  position: absolute;
  left: 2vw;
  top: 2vw;
  z-index: 2;
  border-radius: 100%!important;
}
.sidebar-buttons{
  margin-top: 6vh;
}
.book-detail-control{
  position: absolute;
  right:2vw;
  top:2vw;
}
.availability-badge{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1rem;
}
.deleteModalBody{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.deleteModalButtons{
  display: flex;
  justify-content: center;
}