.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.User-picture{
  width: 24vh;
  height: 24vh;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 2vh;
  margin-bottom: 3vh;
  border-radius: 24vh;
}
.Library-picture{
  height: 100vh;
}